
*{
	margin: 0;
}
body{
	margin:0;
    padding:0;
}

.parte1{ 
	display: flex;
	position: fixed;
	height: 50px;
	z-index: 1;
	flex-wrap: wrap;
	align-items: center;
	padding: 8px;
	background-color: white;
	border-bottom: 1px solid #cccccc;
	width: 100%;

}

#pin{
	display: flex;
	position: relative;
	top: 35px;
	left: 325px;
	height: 5px;
	width: 90px;
	background-color: black;
	border-top-right-radius: 5px; 
	border-top-left-radius: 5px; 
	border: 0px;
}

#config1{
	opacity: 60%;
	height: 18px;
	width: 18px;;
	position: fixed;
	left: 28.5px;
	top: 25px;
}

.alinhar1 {
   height: 12px;
   color: yellow;
   position: relative;
   right: 50px;
   width: 900px;
   margin:0 auto 0 auto;			
   text-align:left;
}


#engr{
	height: 18px;
	width: 18px;;
	position: fixed;
	right: 120px;
	opacity: 95%;
	top: 25px;
}

#config{
	opacity: 60%;
	height: 17px;
	width: 17px;;
	position: fixed;
	right: 78px;
	top: 25px;
}

.header{
	display: flex;
	flex-wrap: wrap;
	position: fixed;
	padding-top: 5px;
	padding-bottom: 10px;
	top: 15px;
	left: 22px;
}

.header li{
	list-style: none;
	width: 70%;
}

.header li a{
	padding-top: 10px;
	text-decoration: none;
	color: #1a1a1a;
	font-size: 0.95rem;
	font-family: Arial;
	font-weight: bold;
	opacity: 80%;
}

#menor{
	font-size: 0.8rem;
	opacity: 75%;
	font-weight: normal;
}

#eu{
	height: 30px;
	border-radius: 100%;
	position: fixed;
	right: 25px;
	top: 20px;
}

.menu{
	display: flex;
	position: fixed;
	top: 15px;
}

.menu li{
	list-style: none;
}

.menu li a{
	display: flex;
	text-decoration: none;
	color: #1a1a1a;
	font-size: 0.9rem;
	font-family: Arial;
	font-weight: bold;
	position: relative;
	opacity: 50%;
    padding-left: 25px;
	padding: 10px;
	left: 300px;
}

.alinhar {
   height: 960px;
   position: relative;
   right: 40px;
   width: 900px;
   margin:0 auto 0 auto;			
   text-align:left;
}

#atu{
    opacity: 90%;
}


.corpo{
	display: block;
    position: relative;
    top: 100px;
    text-align: center;
}

#corp{
	filter: brightness(40%);
	width: 1005px;
	opacity: 90%;
	border-radius: 8px;
	position: relative;
}

#texto {
	display: block;  	
  	color: white; 
  	position: absolute;
  	top: 50px;
  	font-family: Arial;
    font-size: 2.25rem;
    font-weight: bold;
    line-height: 2.75rem;
    padding-left: 25px;
}

#texto2 {
	display: block;
	position: absolute;
	top: 45px;
  	font-family: Arial;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: white;    
    padding-top: 50px;
    padding-left: 25px;
}

.ativi{
	position: relative;
}

.proxiati{
	display: flex;
	border: 1px solid #d9d9d9;
	flex-wrap: wrap;
	align-content: flex-start;
	position: relative;
	top: 20px;
	padding: 20px;
    height: 130px;
    width: 190px;
    border-radius: 3%;
    text-decoration: none; 
    font-weight: bolder;

}

.proxiati p{
	text-align: left;
	font-family: Arial;
	color: #1a1a1a;
    font-size: 0.9rem;
    font-weight: 100;
    opacity: 95%;
    font-weight: bold;
}

.proxiati a{
	font-family: Arial;
    font-size: 0.8rem;
    font-weight: 100;
    color: #1a1a1a;
	text-decoration:none;
	position: relative;
	top: 25px;
}

#dataen{
	position: relative;
	top: 20px;
	font-size: 0.8rem;
    font-weight: 100;
    opacity: 80%;
    width: 150px;
}

#visu{
	position: relative;
	top: 50px;
	left: 65px;
	font-family: Arial;
	color: #1a1a1a;
    font-size: 0.9rem;
    font-weight: 100;
    opacity: 95%;
    font-weight: bold;
}
.proxiati a:hover{
	text-decoration: underline;
}

.comen{
	flex-direction: column;
	position: absolute;
    border: 1px solid #b3b3b3;
    border-top: 0px;
    opacity: 80%;
    border-radius: 8px;
    height: 60px;
    width: 755px;
    top: 22px;
    padding-top: 8px;
    left: 250px;
}

#euc{
	position: relative;
	border-radius: 100%;
	height: 40px;
	width: 40px;
	right: 225px;
	top: 5px;
}
.coment{
	position: relative;
	right: 205px;
    font-family: Arial;
    bottom: 10px;
	color: #1a1a1a;
    font-size: 0.8rem;
    font-weight: 100;
    opacity: 80%; 
    text-decoration:none;
}

.comen2{
	flex-direction: column;
	position: relative;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    height: 70px;
    width: 755px;
    top: 20px;
}

#pra{
	position: absolute;
	background-color: #595959;
	height: 24.5px;
	width: 24.5px;
	left: 22px;
	top: 15px;
	border: 8px solid #595959;
	border-radius: 100px;
}

.linkat{
	position: absolute;
	bottom: 35px;
	left: 75px;
	font-family: Arial;
	color: black;
    font-size: 0.85rem;
    opacity: 75%;
    font-weight: bolder;
    text-decoration: none;
}

.comen2 p{
	position: absolute;
	top: 35px;
	font-size: 13.5px;
    opacity: 80%;
    left: 75px;
}

#trs{
	position: relative;
	height: 17px;
	left: 340px;
	top: 25px;
}

.comen3{
	flex-direction: column;
	position: relative;
    border: 1px solid #d9d9d9;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: 400px;
    width: 755px;
    top: 20px;
}

#pra1{
	position: absolute;
	background-color: #595959;
	height: 40.5px;
	width: 40.5px;
	left: 22px;
	top: 15px;
	border-radius: 100px;
}

.linkat1{
	position: absolute;
	top: 20px;
	left: 75.5px;
	font-family: Arial;
	color: black;
    font-size: 0.85rem;
    opacity: 75%;
    font-weight: bolder;
    text-decoration: none;
}

#sla{
	position: absolute;
	top: 35px;
	font-size: 13.5px;
    opacity: 80%;
    left: 75px;
}

#trs{
	position: relative;
	height: 17px;
	left: 340px;
	top: 25px;
}


#texto3{
	position: relative;
	width: 700px;
	left: 25px;
	top: 50px;
	text-align: left;
	font-family: Arial;
	font-size: 0.85rem;  
}

.comen4{
	flex-direction: column;
	position: relative;
    border: 1px solid #d9d9d9;
    border-top: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 70px;
    width: 755px;
    top: 20px;
}

#pra2{
	position: absolute;
	background-color: #595959;
	height: 32.5px;
	width: 32.5px;
	left: 25px;
	top: 17px;
	border-radius: 100px;
}

.linkat2{
	position: absolute;
	text-align: left;
	height: 30px;
	width: 630px;
	left: 90px;
    bottom: 18px;
	font-family: Arial;
	color: #595959;
	font-size: 0.85rem;
	border-radius: 8px;
	border-width: 1px; 
	border-left: 0px;
	border-right: 0px;
	opacity: 50%;
}

.comen4 p{
	position: absolute;
	top: 35px;
	font-size: 13.5px;
    opacity: 80%;
    left: 75px;
}

#trs2{
	position: relative;
	height: 20px;
	left: 335px;
	top: 25px;
}



#duvi{
	display: flex;
	position: fixed;
	height: 20px;
	width: 22px;
	left: 2%;
	bottom: 4.5%;
	opacity: 90%;
}




